//Store 
.store {
    grid-column: center-start/center-end;
    margin: 5rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.item {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
    height: 40rem;
    position: relative;
    &__img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 20rem;

        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;
        position: relative;

        &--inStock {
            position: absolute;
            padding: .4rem 6px;
            border-radius: 1rem;
            background-color: $color-secondary;
            color: white;
            z-index: 2;
            margin: 1rem;
            top: .2rem;
            right: .5rem;
            font-size: 1.2rem;
        }



        // & img {
        //     width: 100%;
        //     height:  100%;
        //     object-fit: cover;
        //     // display: block;
        // }
    }


    // & .item-1{
    //     background-image: linear-gradient( rgba($color-primary, .1),rgba($color-secondary, .3)), url(../img/headphones.jfif);
    // }
    // & .item-2{
    //     background-image: linear-gradient( rgba($color-primary, .1),rgba($color-secondary, .3)), url(../img/rolex.jpg);
    // }
    // & .item-3{
    //     background-image: linear-gradient( rgba($color-primary, .1),rgba($color-secondary, .3)), url(../img/speakers.jpg);
    // }
    // & .item-4{
    //     background-image: linear-gradient( rgba($color-primary, .1),rgba($color-secondary, .3)), url(../img/laptop.jpg);
    // }
    // & .item-5{
    //     background-image: linear-gradient( rgba($color-primary, .1),rgba($color-secondary, .3)), url(../img/tv.jpg);
    // }
    // & .item-6{
    //     background-image: linear-gradient( rgba($color-primary, .1),rgba($color-secondary, .3)), url(../img/switch.jpg);
    // }


    


    &__name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
        z-index: 3;
        // margin-bottom: 2rem;

        width: 60%;
        font-family: $font-display;
        font-size: 1.5rem;
        text-align: center;
        padding: .5rem 1.25rem;
        background-color: rgba($color-secondary, .9);
        color: #fff;
        font-weight: 400;
        transform: translateY(50%);


    }

    &__description {
        margin-top: 2rem;
        grid-column: 1/-1;
        font-size: 1.6rem
    }

    &__quantity {
        padding-left: 10%;
        display: flex;
        align-items: center;
        // justify-content: space-around;?

        justify-self: center;

        // align-self: center;
        input {
            border: none;
            padding: .5rem 1rem;
            width: 30%;
            font-family: inherit;
            text-align: center;
            background-color: rgb(255, 255, 255);
            color: $color-secondary;
            font-weight: 900;
            margin: 0 1rem;
            font-size: 1.6rem;
            border: 1px solid rgba($color-secondary, .2);
            border-radius: 5px;
            transition: all .2s;

        }

        .empty {
            border: 2px solid $color-secondary;
        }

        & svg {
            padding-top: .2rem;
            width: 1.8rem;
            height: 1.8rem;
            fill: $color-primary;
            cursor: pointer;
        }
    }

    &__price {
        padding-left: 2rem;
        justify-self: center;
        display: flex;
        justify-content: space-around;
        align-items: center;

        svg {
            width: 1.5rem;
            height: 1.8rem;
            fill: $color-primary;
        }

        span {
            padding-left: .5rem;
            font-weight: 500;
            font-size: 1.6rem;
            color: $color-secondary;
        }
    }

    &>button {
        // background-color: $color-primary;
        grid-column: 1/-1;
        padding: 1rem 0;
        font-size: 1.2rem;
    }
}

