.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / full-end;
    background-image: linear-gradient( rgba($color-secondary, .8), rgba($color-primary, .8)), url(../img/louis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5vh 5vw;
    // padding-top: 4rem;
    transition: all 2s;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
   
    @media only screen and (max-width: $bp-800) {
 grid-column: full-start / full-end;
    }


    @media only screen and (max-width: $bp-400) {
        padding-left: 4rem; 
     }


    &__logo {
        height: 10rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
        height: 4rem;
        padding: 1.3rem 4rem;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            opacity:.6;
            // filter: brightness(85%);
        }
    }
}