//promotions
.promo {
    width: 100vw;
    &__pictures {
        background-color: $color-primary;
        grid-column: full-start/col-end 4;
        
        background-image: linear-gradient( rgba($color-secondary, .7),rgba($color-primary-dark, .8)), url(../img/dastore.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center left;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }


    &__figure--1 {
        width: 100%;
        height: 100%;
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        height: 100%;
        // border: 1px solid blue;

        & .img1 {
            width: 100%;
            height: 100%;
            display: none;
        }

    }

    &__figure--2 {
        background-image:  url(../img/logow.png);
        background-size: contain;
        opacity: .8;
        // background-size: 112%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 93%;
        grid-row: 3 / span 2;
        grid-column: 3 / span 2;
        z-index: 20;
        // box-shadow: 0 2rem 5rem rgba(#000, .2);
        border-radius: 5px;
// border: 1px solid blue;

        & .img2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }

    }


  


    &__content {
        background-color: darken($color-grey-light-1, 5%);
        grid-column: col-start 5/full-end;
        padding: 6rem 8vw;
        //align with flexbox
        /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start //by default strech
        */
        //align with grid
        display: grid;
        align-content: center;
        justify-items: start;



    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}


  @media only screen and (max-width: $bp-600) { 
       .promo {
       &__pictures {
         grid-column: full-start / full-end;
         height: 60vh;
       
       }
       &__content {
             grid-column: full-start / full-end;
         height: 60vh;
       }

       }
   }