.sidebar {
    background-color: $color-primary;
    //delimit with  by tags
    // grid-column: sidebar-start / sidebar-end;
    //delimit height from begining to end  
    // grid-row: 1;
    padding-top: 5rem;


    //fix navbar
    position: fixed;
    width: 6rem;
    height: 100vh;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-600) { 
         width: 5rem;


    }


    &__btn {
        position: fixed;
        height: 60px;
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all .3s;
        cursor: pointer;

        

        &--logo {
            width: 2rem;
        }

        & svg {
            width: 3rem;
            height: 3rem;
            fill: aliceblue;
        }


        &--cart {
            position: relative;

            & span {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 3px 8px;
                border-radius: 50%;
                font-weight: 700;
                font-size: 12px;
                transition: all .3s;
                color: #fff;
                background-color: $color-secondary;
                box-shadow: 0 2rem 2rem rgba(#000, .2);
                opacity: 0;
                
            }

            .toCart {
                transform: scale(1.2)
                // border: 4px solid blue;
            }
        }

        &:hover {
            background: rgba($color-secondary, .6);
        }

        &:active {
            background: $color-primary-dark;
            
        }
    }

    .active {
        visibility: visible;
        background: rgba($color-secondary, .4);
        border-left: .5rem solid #fff;
    }
}

// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_notification